<div class="container">
    <div class="title" mat-dialog-title>
        <h1>
            Coffee Shop
        </h1>
    </div>
    <form [formGroup]="coffeeList" >
        <div mat-dialog-content class="content">
            <div class="col">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Name" formControlName="name">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Image" formControlName="image">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Price" formControlName="price">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Quantity" formControlName="quantity">
                </mat-form-field>
            </div>
        </div>
    </form>
    <div mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" (click)="Save()">Save</button>
    </div>
</div>
